<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Event</title>
</head>
<body>

<h1>Welcome to Event Page</h1>
<button id="peList_btn">기술사 등급 시험 시행일정 조회</button>
<button id="mcList_btn">기능장 등급 시험 시행일정 조회</button>
<button id="elList_btn">기사, 산업기사 등급 시험 시행일정 조회</button>
<button id="clList_btn">기능사 등급 시험 시행일정 조회</button>
<button id="feeList_btn">종목별 응시 수수료 조회</button>
<button id="jmList_btn">종목별 시행일정 조회</button>
<ul id="List_Output"></ul>

<script src="/event.js" type="text/javascript"></script>

</body>
</html>